/obj
/src/Services/Contact/Contact.API/obj
/src/Services/Contact/Contact.Application/obj
/src/Services/Contact/Contact.Application/bin
/src/Services/Contact/Contact.API/bin
/src/Services/Contact/Contact.Domain/bin
/src/Services/Contact/Contact.Domain/obj
/src/Services/Contact/Contact.Grpc/bin
/src/Services/Contact/Contact.Grpc/obj
/src/Services/Contact/Contact.Infrastructure/bin
/src/Services/Contact/Contact.Infrastructure/obj
/src/Services/Contact/Contact.Test/bin
/src/Services/Contact/Contact.Test/obj
/src/Services/Report/Report.API/bin
/src/Services/Report/Report.API/obj
/src/Services/Report/Report.Test/bin
/src/Services/Report/Report.Test/obj
/src/BuildingBlocks/Common.Dto/bin
/src/BuildingBlocks/Common.Dto/obj
/src/BuildingBlocks/Common.Filters/obj
/src/BuildingBlocks/Common.Filters/bin
/src/BuildingBlocks/Common.Helpers/bin
/src/BuildingBlocks/Common.Helpers/obj
/src/BuildingBlocks/Common.Infrastructure/obj
/src/BuildingBlocks/Common.Infrastructure/bin
/src/BuildingBlocks/Common.Logging/obj
/src/BuildingBlocks/Common.Logging/bin
/src/BuildingBlocks/Common.Messages/obj
/src/BuildingBlocks/Common.Messages/bin
/src/BuildingBlocks/Common.Middleware/bin
/src/BuildingBlocks/Common.Middleware/obj
/src/BuildingBlocks/EventBus.Messages/obj
/src/BuildingBlocks/EventBus.Messages/bin
/bin/Debug
